body {
    background-color: antiquewhite;
    padding: 4%
}

.meunome {
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    color: darkred;
    text-align: center;
}
.descrição {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 120px;
    right: 5%;
    font-size: 17px;
    color: black;
}

p {
        color: darkblue;
        font-size: 16px;
    }

ul{
    color: darkslategray;
    font-size: 16px;
}

.picture {
    height: 180px;
    border-radius: 50%;
    float: left;
    width: 200px;
    padding: 12px;
    background-color: darksalmon;
}  

.element {
background-color: coral;
    margin-left: 8px;
    margin-right: 8px;
    color: #302326;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 16px;
}

#pictures {
    float: left;
    height: 300px;
}
.imagecontainer {
    height: 300px;
    position: relative;
}

ul li {
    padding: 3px;
    font-size: 18px;
    color: black;
}

.habilidades {
    font-family: 'Alfa Slab One', cursive;
    color: darkred;
    font-size: 30px;

}

