* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: lightsteelblue;
}

.logo {
    width: 200px;
}

header {
    background-color: darkblue;
}
a {
    text-decoration: none;
    color: white;
    justify-content: space-between;
    display: flex;
}

footer {
    background-color: darkblue;
    display: flex;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
}